*{
    background-color: rgba(236, 236, 236, 0.753);
}

.nav{
    width: 350px;
    display: flex;
    position:relative;
    padding: 2px;
    color: rgb(241, 237, 231);
   justify-content: space-between;
   margin-left: 50rem;
   }
   .red{
    font-size: 20px;
    border:2px;
    padding:3px;
    border-radius: 4px;
}